/* ==========================================================
   NEONVERSE — AOTM MARQUEE
   Gold visual treatment only
   ========================================================== */

.artist-item.aotm-marquee-highlight .artist-image {

    border-color: #d211e4;

    box-shadow:
        0 0 8px rgba(241, 5, 222, 0.95),
        0 0 18px rgba(231, 12, 177, 0.75),
        0 0 30px rgba(177, 39, 196, 0.5),
        0 0 42px rgba(214, 4, 109, 0.25);

    animation: aotm-marquee-glow 2.8s ease-in-out infinite;
}


/* ==========================================================
   GOLD BREATHING EFFECT
   ========================================================== */

@keyframes aotm-marquee-glow {

    0%,
    100% {

        box-shadow:
            0 0 7px rgba(162, 70, 216, 0.85),
            0 0 15px rgba(223, 4, 193, 0.6),
            0 0 25px rgba(231, 14, 195, 0.35),
            0 0 36px rgba(255, 170, 0, .18);

    }

    50% {

        box-shadow:
            0 0 10px rgb(4, 216, 85),
            0 0 21px rgba(195, 15, 240, 0.9),
            0 0 34px rgba(238, 14, 182, 0.55),
            0 0 48px rgba(248, 10, 189, 0.28);

    }

}


/* ==========================================================
   HOVER — KEEP GOLD
   ========================================================== */

.artist-item.aotm-marquee-highlight:hover .artist-image {

    border-color: #f709c3;

    box-shadow:
        0 0 12px #ec05ec,
        0 0 25px #f704ce,
        0 0 42px #f10f6d,
        0 0 70px rgba(7, 236, 102, 0.75);

}